* {
    box-sizing: border-box;
	font-family: 'Anton', sans-serif;
}

body{
	max-width: 960px;
	margin: auto;
	padding-top: 20px;
}

.serif-script{
	font-family: 'Playball', cursive;
}

.thumbnail{
	height: 300px;
	width: 100%;
}

.full-width{
	width: 100%
}

.modal-container{
	font-family: 'Monoton', cursive;
	color: green;
}