* {
    box-sizing: border-box;
	max-width: 960px;
	margin: auto;
}

a{
	color: blue;
}

.serif_script{
	font-family: 'Great Vibes';
}

.thumbnail{
	height: 300px;
	width: 100%;
}

.full_page_image{
	width: 100%;
}

.Project{
	
}

.Comming_Soon{
	color: blue;
}
