* {
    box-sizing: border-box;
	max-width: 960px;
	margin: auto;
}

a{
	color: blue;
}

.serif-script{
	font-family: 'Great Vibes';
}

.thumbnail{
	height: 300px;
	width: 100%;
}

.full-page-image{
	width: 100%;
}

.project{
	
}

.comming-Soon{
	color: blue;
}
