/*Link to this stylesheet to add css based modals */

/*
	This is based on the tutorial found at:
	https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
	
	I modified their css to make it resposive and allow for the modals to reflect
	the parrent window. I also put it in this file to make it easy to reuse.
	
	pointer-events didn't make it into css3, but are supported by
	all major browsers and are planned to be added to css4
*/

/***********************************************************************
*	To create a modal:                                                 *
*	                                                                   *
*	<link rel="stylesheet" href="./css/modal.css">                     *
*	                                                                   *
*	<a href="A_Modal">link to open modal</a>                           *
*	                                                                   * 
*	<article id="A_Modal" class="modalDialog">                         *
*			<!--                                                       *
*				This div tag is a container for the modal the          * 
*				modal-container class is not defined here,             *
*				but may be used to customize the                       *
*				look of modals on your site                            *
*			-->                                                        *
*			<div class="modal-container">                              *
*				<a href="#close" title="Close" class="close">X</a>     *
*				<h2>Title of Modal</h2>                                *
*				<p>Content of modal</p>                                *
*			</div>                                                     *
*	</article>                                                         *
***********************************************************************/

.modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0, 0, 0.8);
	z-index: 99999;
	opacity:0;
	
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

/* This sets default styles for the modal, but may be changed by the modal-container class*/
.modal-dialog > div {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	
	background: -moz-linear-gradient(#f00, #00f);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);	
}

.modal-dialog:target {
	opacity:1;
	pointer-events: auto;
}

/* Styles for the Close Button */
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

